@model Badzeet.Web.Features.Book.TransactionsModel

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Records</h1>

<table class="table table-sm">
    @{ var date = DateTime.MinValue;}
    @foreach (var t in Model.Transactions)
    {
        @if (date != t.Date)
        {
            date = t.Date;
            <tr>
                <th colspan="4">@t.Date.ToString("yyyy-MM-dd")</th>
            </tr>
        }
        <tr>
            <td></td>
            <td>@t.Description</td>
            <td>@t.Amount</td>
            <td>
                <a asp-controller="Book" asp-action="EditRecord" asp-route-id="@t.Id" class="btn btn-link btn-sm">
                    <i class="fa fa-edit"></i>
                </a>
            </td>
        </tr>
    }
</table>