@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_LayoutAnonymous.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>
    Thank you for using Badzeet ("the Website"). This Privacy Policy outlines the types of personal information we collect, how it is used, and how we safeguard your information.
</p>

<h5>
    Information We Collect
</h5>

<p>
    We do not collect any personally identifiable information from users who utilize the Website's budget tracking features without requiring them to create an account or log in. We may collect anonymous usage data to improve the functionality and user experience of the Website.
</p>

<h5>
    How We Use Your Information
</h5>

<p>
    The anonymous usage data we collect may be used for statistical analysis, trend monitoring, and improving the services offered on the Website. This data will not be linked to any personally identifiable information.
</p>

<h5>
    Data Security
</h5>

<p>
    We take the security of your information seriously and employ industry-standard measures to protect it from unauthorized access, disclosure, alteration, or destruction.
</p>


<h5>
    Changes to This Privacy Policy
</h5>
<p>
    We reserve the right to update or change this Privacy Policy at any time. Any changes will be effective immediately upon posting the revised Privacy Policy on the Website.
</p>

<i>
    Last Updated: 19th-feb-2024
</i>
<br/>
<i>Tom</i>