@model Badzeet.Web.Features.ScheduledPayments.ScheduledPaymentsController.MonthlyPaymentViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Schedule payment</h1>

<form method="post" asp-action="Edit">
    <input asp-for="Payment.Id" type="hidden"/>
    <div class="form-group row">
        <label asp-for="Day" class="col-sm-2 col-form-label">Day of month</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="Day" type="number" max="28" min="1"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Last Day of the month</label>
        <div class="btn-group btn-group-toggle col-sm-4" data-toggle="buttons">
            <label class="btn btn-secondary @(Model.LastDay == false ? "active" : "")">
                <input type="radio" asp-for="LastDay" autocomplete="off" value="false"> No
            </label>
            <label class="btn btn-secondary @(Model.LastDay ? "active" : "")">
                <input type="radio" asp-for="LastDay" autocomplete="off" value="true"> Yes
            </label>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="LastDay" class="col-sm-2 col-form-label">When</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="When" type="time"/>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Payment.Description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="Payment.Description" type="text"/>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Payment.Amount" class="col-sm-2 col-form-label">Amount</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="Payment.Amount" type="number" id="amountInput"/>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Payment.CategoryId" class="col-sm-2 col-form-label">Category</label>
        <div class="col-sm-10">
            <select class="custom-select"
                    asp-for="Payment.CategoryId"
                    asp-items="@(new SelectList(Model.Categories, "Id", "Name"))">
                <option>Please select one</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Payment.OwnerId" class="col-sm-2 col-form-label">Owner</label>
        <div class="col-sm-10">
            <select class="custom-select"
                    asp-for="Payment.OwnerId"
                    asp-items="@(new SelectList(Model.Users, "Id", "Nickname"))">
            </select>
        </div>
    </div>

    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-primary form-control">Save</button>
        </div>
    </div>

</form>
<form method="post" asp-action="Remove">
    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <input asp-for="Payment.Id" type="hidden"/>
            <button type="submit" class="btn btn-danger form-control" id="removeBtn">Remove</button>
        </div>
    </div>
</form>