<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Badzeet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Badzeet</a>
        <form class="ml-auto form-inline">
            <a class="btn btn-outline-primary mr-1" asp-controller="Payments" asp-action="List">List</a>
            <a class="btn btn-primary mr-1" asp-controller="Payments" asp-action="New">New</a>
        </form>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ccc">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-end" id="ccc">
            <div class="d-flex justify-content-end">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="ScheduledPayments" asp-action="List">Scheduled payments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Category" asp-action="Index">Categories</a>
                    </li>
                </ul>
                <form class="form-inline" method="post" asp-controller="Account" asp-action="Logout">
                    <button class="btn btn-link" type="submit">Logout</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - Badzeet.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/font-awesome/js/all.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", false)
</body>
</html>