@using Badzeet.Web.Features.Budget
@using Badzeet.Web.Features.Payments
@model Badzeet.Web.Features.Budget.BudgetController.BudgetViewModel
@{
    ViewData["Title"] = "Budget";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2>
        <span>
            <a asp-action="Index" asp-route-budgetId="@(Model.BudgetNavigation.Previous.BudgetId)">
                <i class="fas fa-angle-left"></i>
            </a>
        </span>
        @Model.BudgetInterval.From.ToString("dd MMM") - @Model.BudgetInterval.To.ToString("dd MMM")

        <span>

            <a asp-action="Index" asp-route-budgetId="@(Model.BudgetNavigation.Next.BudgetId)">
                <i class="fas fa-angle-right"></i>
            </a>
        </span>
    </h2>
</div>

@await Component.InvokeAsync<SummaryViewComponent>(new { accountId = Context.Items["da"], budgetId = Model.BudgetId })
@await Component.InvokeAsync<PendingPaymentsViewComponent>(new { UserId = Context.Items["ui"], accountId = Context.Items["da"] })
@await Component.InvokeAsync<BudgetViewComponent>(new { accountId = Context.Items["da"], budgetId = Model.BudgetId })